DB_HOST=localhost
DB_PORT=5432
DB_NAME=aquila_bank
DB_USERNAME=postgres
DB_PASSWORD=postgres
NOTIFICATION_CHANNEL_PROVIDER_WORKER_ENABLED=false
NOTIFICATION_CHANNEL_PROVIDER_WORKER_BATCH_SIZE=10
NOTIFICATION_CHANNEL_PROVIDER_WORKER_MAX_RETRY_DELAY_SECONDS=60
