SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8080
DB_HOST=localhost
DB_PORT=5432
DB_NAME=aquila_bank
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_POOL_MIN_IDLE=0
DB_POOL_MAX_SIZE=4
DB_CONNECTION_TIMEOUT_MS=3000
DB_IDLE_TIMEOUT_MS=300000
DB_MAX_LIFETIME_MS=1700000
DB_STATEMENT_TIMEOUT_MS=3000
DB_LOCK_TIMEOUT_MS=1000
DB_IDLE_IN_TX_TIMEOUT_MS=5000
DB_QUERY_TIMEOUT_SECONDS=3
DB_TRANSACTION_TIMEOUT_SECONDS=5
SERVER_THREADS_MAX=16
