aws_region  = "ap-northeast-2"
name_prefix = "aquila-bank-baseline"

vpc_cidr                = "10.50.0.0/16"
public_subnet_cidr      = "10.50.1.0/24"
private_db_subnet_cidrs = ["10.50.11.0/24", "10.50.12.0/24"]

ssh_ingress_cidr = "203.0.113.10/32"
ec2_key_name     = "replace-with-existing-key-pair"
ec2_ami_id       = null

ec2_instance_type    = "t3.micro"
ec2_root_volume_size = 30

db_identifier              = "aquila-bank-baseline-postgres"
db_name                    = "aquilabank"
db_username                = "aquila_admin"
db_password                = "replace-with-strong-password"
db_engine_version          = null
db_instance_class          = "db.t4g.micro"
db_allocated_storage       = 20
db_max_allocated_storage   = null
db_backup_retention_period = 1
